body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Main Panes */

.editor,
.preview {
  position: absolute;
  width: 50vw;
  height: 100vh;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

.editor:focus,
.preview.editor:focus {
  outline: none;
}

.editor,
.preview {
  font-family: "Fira Code", monospace;
  font-size: 16px;
}

/* Editor */

.editor {
  position: fixed;
  resize: none;
  border-right: 1px solid blue;
  padding: 20px;
}

/* Preview */

.preview-controls {
  padding: 20px;
  background: #eee;
}

label {
  margin-right: 2ex;
  padding-left: 1ex;
}

.preview {
  left: 50vw;
  background: rgb(252, 252, 252);
}

.preview-pane {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

.preview-pane-mjml,
.preview-pane-html {
  padding: 20px;
}
