#!/usr/bin/env bash

sudo su -

# ----- Mount the attached disk
echo "=> Mounting the attached disk"
DEVICE_PATH=$(realpath /dev/disk/by-id/${disk_id})
MNT_DIR=${mount_path}

echo "   DEVICE_PATH: $DEVICE_PATH"
echo "   MNT_DIR:     $MNT_DIR"

if blkid $DEVICE_PATH; then
  echo "   Device $DEVICE_PATH already formatted"
else
  echo "   Formatting $DEVICE_PATH"
  mkfs.ext4 -m 0 -F -E lazy_itable_init=0,lazy_journal_init=0,discard $DEVICE_PATH
  echo UUID=$(blkid -s UUID -o value $DEVICE_PATH) /mnt/disks/$MNT_DIR ext4 discard,defaults,nofail 0 2 | tee -a /etc/fstab
  cat /etc/fstab
  df -Th
fi

echo "   Mounting to $MNT_DIR"
mkdir -p /mnt/disks/$MNT_DIR
mount -o discard,defaults /dev/sdb /mnt/disks/$MNT_DIR
chmod a+w /mnt/disks/$MNT_DIR

# ----- Install Docker
echo "=> Installing Docker"
apt-get update
apt-get install --yes apt-transport-https ca-certificates gnupg-agent software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
apt-get install --yes docker-ce docker-ce-cli containerd.io

# ----- Configure system limits
echo "=> Configuring system limits"
swapoff -a
sysctl -w vm.swappiness=1
sysctl -w fs.file-max=262144
sysctl -w vm.max_map_count=262144
cat >> /etc/security/limits.conf <<EOF
* - memlock unlimited
* - nofile  500000
* - nproc   unlimited
EOF

# ----- Create configuration for Nginx
echo "=> Creating configuration for Nginx"
mkdir -p /etc/nginx/
cat > /etc/nginx/nginx.conf <<-'EOF'
${nginx_config}
EOF

# ----- Setup Certbot and extract Letsencrypt archive
echo "=> Installing certificates"
snap install --classic certbot
ln -s /snap/bin/certbot /usr/bin/certbot
gsutil cp gs://${bucket_name}/assets/letsencrypt.tar.gz /tmp/letsencrypt.tar.gz
tar -zxf /tmp/letsencrypt.tar.gz -C /
certbot renew --standalone

echo "=> Starting Docker containers"

# ----- Create Docker network for services
docker network create faktory

# ----- Run the Faktory container
docker run --name faktory \
  --volume /mnt/disks/data/:/var/lib/faktory \
  --env FAKTORY_PASSWORD=${faktory_password} \
  --network faktory \
  --restart always \
  --detach \
  contribsys/faktory \
  /faktory -b :7419 -w :7420 -e production

# ----- Run the Nginx container
docker run --name nginx \
  --volume /etc/nginx/:/etc/nginx/ \
  --volume /etc/letsencrypt/:/etc/letsencrypt/ \
  --network faktory \
  --publish 443:443 \
  --publish 7491:7491 \
  --ulimit nofile=65535:65535 \
  --restart always \
  --detach \
  nginx
